body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(58, 58, 58);
}
* div{
  margin: 0
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custome Global */
.centerFlex{  
  display: flex;
  justify-content: center;
}

.centerAndAlignFlex{
  display: flex ;
  justify-content: center ;
  align-items: center ;
}

.white{
  color: rgb(187, 187, 187);
}

textarea:focus,
input:focus {
    outline: none;
}
button{
  border: none;
}
.removeSelected{
  margin: 10px;
}
