#dashBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 92vh;
    /* background-color: black; */
}
#roomColumn{
    grid-column: 1;
    background-color: rgb(70, 66, 66);
    border-width: 0px 2px 0px 0px;
   
    border-style: solid;
    max-height: 100vh;
    overflow: scroll;
}

#navbar{
    height: 8vh;
    background-color: rgb(36, 31, 31);
    
    display: grid;
    grid-template-columns: repeat(12, 1fr)
  
}
#newConvo{
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px 2px 0px 0px;
    border-right-style: solid;
    border-color: black;
    
}
#profile{
    grid-column: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
}
#search{
    grid-column: 6/8;
    display: flex;
    justify-content: center;
    align-items: center;
  
     
}
#searchInput{
    background-color: rgb(77, 77, 77);
}
/* Side Bar */
#partNames{
    display: flex;
    overflow: hidden;
}
#roomButton{
    width: 100%;
    color: aliceblue;
    background-color: rgb(56, 56, 56);
    height: 60px;
    border-color: rgb(85, 85, 85);
    border-width: 1px 0px 1px 0px;
   
    border-style: solid;
}
/* Indicator */

.newMessage{
    background-color: greenyellow;
}
.MessageIndicator{
    width: 10px;
    height: 10px;
    border-radius:100%;
    
}


