#dashBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 92vh;
    /* background-color: black; */
}
#roomColumn{
    grid-column: 1;
    background-color: rgb(70, 66, 66);
    border-width: 0px 2px 0px 0px;
   
    border-style: solid;
    max-height: 100vh;
    overflow: scroll;
}

#navbar{
    height: 8vh;
    background-color: rgb(36, 31, 31);
    
    display: grid;
    grid-template-columns: repeat(12, 1fr)
  
}
#newConvo{
    grid-column: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0px 2px 0px 0px;
    border-right-style: solid;
    border-color: black;
    
}
#notifications{
    grid-column: 11;
}
#profile{
    grid-column: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
}
#search{
    grid-column: 6/8;
    display: flex;
    justify-content: center;
    align-items: center;
  
     
}
#searchInput{
    background-color: rgb(77, 77, 77);
}



/* Indicator */




.newNotification{
  color: aliceblue;
  background-color: black;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


