#firstLogin{
    position: absolute;
    z-index: 300;
    background-color: rgba(32, 32, 32, 0.5);
    height: 100vh;
    width: 100vw;
}
#mainText{
    font-family: 'Syne Tactile', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: wheat;
}
#sideColumnPointer{
    font-size: 2.5rem;
    position: absolute;
    left: 35vw;
    top: 30%;
    
  }
#createConvoPointer{
    font-size: 2.5rem;
    position: absolute;
    left: 27.7%;
    top: 7%;
    
  }
#alertPointer{
    font-size: 2.5rem;
    position: absolute;
    right: 11%;
     top: 7%;
    
  }
#profilePointer{
    font-size: 2.5rem;
    position: absolute;
    right: 2.7%;
     top: 7%;
    
  }
  
  @-webkit-keyframes bounce {
    to {
      -webkit-transform: scale(1.2);
    }
  }
  @-moz-keyframes bounce {
    to {
      -moz-transform: scale(1.2);
    }
  }
  @keyframes bounce {
    to {
      transform: scale(1.2);
    }
  }
  .bounceAnimation{
    color: #fff;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    justify-content: space-between;
    -webkit-animation: bounce 0.3s infinite alternate;
    -moz-animation: bounce 0.3s infinite alternate;
    animation: bounce 0.3s infinite alternate;
  }
