#CreateAccountMain{
    background: linear-gradient(
        to bottom,
        rgb(134, 125, 82) 5%,
        rgba(0,0,0, 0) 60%,
        #726a61
      ),url("../../images/createAccount.jpg");
    /* background: url("../../images/createAccount.jpg"); */
    background-size: cover;
    height: 100vh;
    background-repeat:no-repeat ;
    position: relative;
}
.formContainerCenter{
    background-color: rgba(92, 87, 87, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
    
}

#entryHeader{
    font-family: 'Syne Tactile', cursive;
}
.entryInput{
    margin-top: 15px ;
    width: 70%;
    border-radius: 4px;
}


