/* Side Bar */
.roomButtonContain{
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    height: 60px;
}
.link{
    grid-column: 1/8;
    color: #FFFFFF;
  text-decoration: none;
}

.roomButton{
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    
}
#partNamesRow{
    grid-row: 1;
    display: flex;
}

.partName{
    margin: 0px 0px 0px 5px
    
}

.deleteToggleOpen{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background: linear-gradient(to right, #db0000 50%, #333333);
    grid-column: 1/9; 
}
.closeDelete{
    grid-column: 9; 
    background-color: #333333;
    height: 100%;
    width: 100%;
    display: flex;
    
}

.deleteToggle{

    grid-column: 9;
    width: 100%;
    height: 100%;
}
/* Indicator */
.newMessage{
    background: linear-gradient(to right, rgb(82, 150, 43) 50%, #333333);
    


}