#notificationContainer{
    background-color: rgb(48, 44, 44);
    grid-column: 2/4;
    position: relative;
    
}

.notificationHandler{
    
    
    height: 60px;
    background-color: rgb(15, 13, 13);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
}
.notificationButtonContainer{
    grid-column: 4;
    border-radius: 10px;
}
.notificationTextContainer{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.notificationHandlerButton{
    width: 100%;
    height: 50%;
    

}
.notificationHandlerDismissButton{
    width: 100%;
    height: 100%;
}

#acceptButton{
    background-color: rgb(1, 22, 1);
    border-top-right-radius: 10px;
}
#rejectButton{
    background-color: rgb(71, 0, 0);
    
    border-bottom-right-radius: 10px;
}
#dismissButton{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(0, 0, 34);
}
#noNotifications{
    font-family: 'Syne Tactile', cursive;
    color: rgb(161, 161, 161);
   font-size: 30px;
   font-weight: bold;
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
}