#formBar {
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
#messageForm {
  border-width: 1px 1px 1px 1px;
  border-color: gray;
  border-style: solid;
  background-color: rgb(77, 77, 77);
  width: 91%;
  border-radius: 10px;
}
#giff{
  border-radius: 10px;
  background-repeat:no-repeat ;
  position: relative;
  width: 200px;
 
}
#removeGiff{
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
  background-color: navajowhite;
}
#input {
  overflow: auto;
  resize: none;
  background-color: rgb(77, 77, 77);
  border: none;
  color: white;
  width: 99%;
  border-radius: 10px;
}
#formContainer {
  min-height: 150px;
  background-color: rgb(15, 17, 17);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#messageController {
  grid-column: 2/4;
  background-color: rgb(48, 44, 44);
  position: relative;
  overflow: hidden;
}
#messageCardContainer {
  overflow: scroll !important;
  height: 100%;
}



/* @media only screen and (max-width: 700px) {
  #messageController {
    display: none;
  } */
/* } */

/* modal */
#GifModal{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  background-color:purple;
  border-radius: 10px;
  
}
#gifInput{
  background-color: rgb(41, 37, 37);
  border: none;
  font-size: 1.5em;
  width: 80%;
  max-width: 80%;
}
#gifInputContain{
   position: absolute;
   display: flex;
   justify-content: center;
   bottom: 20px;
   width: 100%;
}
#gifResult{
   position: absolute;
   top: 20px;
   background-color: black;
   height: 80%;
   width: 80%;
   contain: content;
   overflow: scroll;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

